#A {
  color: firebrick;
  border-style: solid;
  border-color: white;
  border-size: 20px;
  background: red;
}
#B {
  border-text: solid;
  text-align: center;
  color: white;
}
#C {
  text-size: 11px;
  color: black;
  align-text: center;
}
#E {
  text-size: 18px;
  align-text: center;
}
#EE {
  text-size: 18px;
  align-text: center;
}
