#A {
  text-size: 20px, solid;
  color: black;
  alignment: center;
  }
#B {
  text-size:0 20px,
  color: black;
  font: bold;
  alignment: center;
  }
#AA {
  color: firebrick;
  border-left: solid, 10px, red;
  background: grey;
  }
#F {
  border: solid, 11px, white;
  width: 720px;
  height: 384px;
  }
#I {
  border: solid, 11px, white;
  width: 720px;
  height: 384px;
  }
#G {
  text-size: 25px;
  color: black;
  alignment: center;
}
#H {
  alignment: left;
  text-size: 10px;
}
