#A {
  text-size: 33px, solid;
  color: red;
  text-align: center;
  }
#AC {
  border-style: solid;
  color: red;
  border-color: red;

#B {
  text-size: 33px,
  color: red;
  font: bold;
  text-align: center;
  }
#AA {
  border-style: solid, 10px;
  background-color: black;
  border-color: red;
  }
#F {
  border-style: solid, 10px;
  width: 900px;
  height: 384px;
  border-color: red;
  }
#I {
  border-style: solid;
  width: 900px;
  height: 384px;
  color: red;
  border-color: white;
  }
#E {
  color: red;
  text-size: 33px;
#G {
  text-size: 25px;
  text-align: center;
}
#H {
  text-align: left;
  size: 10px;
  color: red;

}
#II {
  text-align: center;
  color: white;
  text-size: 33px;
}
#III {
  text-align: left;
  text-size: 15px;
  border-style: solid;
  color: white;
  border-color: white;
}
#JJ {
  text-size: 33px;
  text-align: right;
  color: red;
}
#JJJ {
  text-align: center;
  text-size: 33px;
  color: white;
  border-style: solid;
  border-color: red;
}
#JJJJ {
  text-align: center;
  text-size: 33px;
  color: red;
  border-style: solid;
  border-color: white;
}
