#A {
  font-size: 20px, solid;
  color: black;
  text-align: center;
  }
#B {
  font-size: 20px,
  color: black;
  font: bold;
  text-align: center;
  }
#AA {
  color: firebrick;
  border-left: solid, 10px, red;
  background: grey;
  }
#F {
  border-image: solid, 11px, white;
  width: 900px;
  height: 384px;
  }
#I {
  border-image: solid, 11px, white;
  width: 900px;
  height: 384px;
  }
#G {
  font-size: 25px;
  color: black;
  text-align: center;
}
#H {
  text-align: left;
  text-size: 10px;
}
#II {
  text-align: center;
  color: gold;
  text-size: 15px;
}
#III {
  text-align: left;
  text-size: 15px;
  border-text: solid, white, 10px;
}
